version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    command: >
      bash -c "
        /etc/confluent/docker/run &
        sleep 10 &&
        kafka-topics --create --topic order-events --partitions 1 --replication-factor 1 --if-not-exists --bootstrap-server localhost:9092 &&
        kafka-topics --create --topic inventory-events --partitions 1 --replication-factor 1 --if-not-exists --bootstrap-server localhost:9092 &&
        kafka-topics --create --topic payment-events --partitions 1 --replication-factor 1 --if-not-exists --bootstrap-server localhost:9092 &&
        wait
      "


  kafdrop:
    image: obsidiandynamics/kafdrop
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:29092

  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        JAR_FILE: target/myapp-0.0.1-SNAPSHOT.jar
    container_name: kafka-streams-app
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
